body {
  background-color: white;
  color: black;
}

/* .dark-mode {
  background-color: black;
  color: white;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 900px;
  height: 900px;
  object-fit:contain;

}

#responsive {
  max-width: 100%;
  height: 100%;
}

.flame2 {
  position: absolute;
  left: 828px;
  top: 130px;

}