body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
  }
  
  .glowingG {
    position: absolute;
    left: 1200px;
    width: 20%;
    float:right;
    cursor: move;
  }
  .scatteredG {
    width: 80%;
    float:left;
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .g {
      font-size: 14px;
      color:#000000
      display: inline-block;
      position:absolute;
      left: 800px;
      
 
  }

  .g1 {
 
      font-size: 14px;
      color:#000000
      display: inline-block;
      position: absolute;
      left: 780px;
      top: 10px;
}

.g2 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 765px;
  top: 20px;
}

.g3 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 750px;
  top: 30px;
}

.g4 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 742px;
  top: 40px;
}

.g5 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 730px;
  top: 50px;
}

.g6 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 718px;
  top: 60px;
}

.g7 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 700px;
  top: 70px;
}

.g8 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 680px;
  top: 80px;
}

.g9 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 670px;
  top: 90px;
}

.g10 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 650px;
  top: 100px;
}

.g11 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 635px;
  top: 110px;
}

.g12 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 615px;
  top: 120px;
}

.g13 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 600px;
  top: 130px;
}

.g14 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 565px;
  top: 140px;
}

.g15 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 552px;
  top: 150px;
}

.g16 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 545px;
  top: 160px;
}

.g17 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 530px;
  top: 170px;
}

.g18 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 180px;
}

.g19 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 490px;
  top: 190px;
}

.g20 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 485px;
  top: 205px;
}

.g21 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 480px;
  top: 225px;
}

.g22 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 482px;
  top: 240px;
}

.g23 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 490px;
  top: 265px;
}

.g24 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 510px;
  top: 275px;
}

.g25 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 525px;
  top: 285px;
}

.g26 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 545px;
  top: 291px;
}

.g27 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 558px;
  top: 291px;
}

.g28 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 590px;
  top: 285px;
}

.g29 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 625px;
  top: 270px;
}

.g30 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 665px;
  top: 250px;
}

.g31 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 723px;
  top: 210px;
}

.g32 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 170px;
}

.g33 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 810px;
  top: 150px;
}

.g34 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 830px;
  top: 140px;
}

.g35 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 844px;
  top: 145px;
}

.g36 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 848px;
  top: 158px;
}

.g37 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 840px;
  top: 170px;
}

.g38 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 830px;
  top: 190px;
}

.g39 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 810px;
  top: 220px;
}

.g40 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 260px;
}

.g41 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 730px;
  top: 340px;
}

.g42 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 690px;
  top: 420px;
}

.g43 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 630px;
  top: 490px;
}

.g44 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 590px;
  top: 530px;
}

.g45 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 565px;
  top: 550px;
}

.g46 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 535px;
  top: 580px;
}

.g47 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 510px;
  top: 600px;
}

.g48 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 490px;
  top: 615px;
}

.g49 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 460px;
  top: 630px;
}

.g50 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 405px;
  top: 660px;
}

.g51 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 340px;
  top: 685px;
}

.g52 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 240px;
  top: 685px;
}

.g53 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 225px;
  top: 680px;
}

.g54 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 170px;
  top: 630px;
}

.g55 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 165px;
  top: 610px;
}

.g56 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 170px;
  top: 590px;
}

.g57 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 182px;
  top: 570px;
}

.g58 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 550px;
}

.g59 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 250px;
  top: 510px;
}

.g60 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 320px;
  top: 480px;
}

.g61 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 410px;
  top: 460px;
}

.g62 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 530px;
  top: 440px;
}

.g63 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 680px;
  top: 430px;
}

.g64 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 880px;
  top: 400px;
}

.g65 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 1110px;
  top: 370px;
}

.g66 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 1155px;
  top: 350px;
}

.g67 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 1180px;
  top: 335px;
}

.g68 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 1195px;
  top: 320px;
}

.g69 {
 
  font-size: 14px;
  color:#000000
  display: inline-block;
  position: absolute;
  left: 1330px;
  top: 210px;
}





.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 47px;
  }

  .triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #ffffff;
	border-bottom: 25px solid transparent;
    position: relative;
    left: 30px;
}

.circle1 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 47px;
    left: 100px;
  }

  .circle2 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 90px;
  }

  .circle3 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 77px;
  }

  .circle4 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 67px;
  }

  .circle5 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 24px;
    left: 67px;
  }

  .circle6 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 27px;
    left: 67px;
  }

  .circle7 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 76px;
  }

  .circle8 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 21px;
    left: 89px;
  }

  .circle9 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 100px;
  }

  .circle10 {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 90px;
  }

  .trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
    position: relative;
    top: 50px;
    left: 90px;
}

.trapezoid1 {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
    position: relative;
    top: 150px;
    left: 90px;
    transform: rotate(180deg);
}

.trapezoid2 {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
    position: relative;
    top: 28px;
    left: 20px;
    transform: rotate(-90deg);
}
@keyframes hehe {
  0% { border-radius: 0%;}
  50% {}
  100% {border-radius: 50%;}
}
.circle11 {
    height: 60px;
    width: 60px;
    background-color: #555;
    /* border-radius: 50%; */
    position: relative;
    top: -10px;
    left: 210px;
  }

  .circle11:hover {
    animation-name: hehe;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .parent:hover .child {
    display;
  }

  /* .rectangle {
    height: 150px;
    width: 100px;
    background-color: #854f4f;
    position: relative;
    left: 210px;
    top: 100px;
  }

  .rectangle1 {
    height: 50px;
    width: 20px;
    background-color: #ffffff;
    position: relative;
    left: 250px;
    top: 0px;
  }

  .rectangle2 {
    height: 30px;
    width: 20px;
    background-color: #ffffff;
    position: relative;
    left: 255px;
    top: -25px;
    transform: rotate(90deg);
  }

  .rectangle3 {
    height: 70px;
    width: 20px;
    background-color: #ffffff;
    position: relative;
    left: 275px;
    top: -110px;
    transform: rotate(90deg);
  } */